*, 
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.nav-content {
    display: flex;
    position: relative;
    z-index: 2;
}

.nav-content ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

li, a {
    list-style: none;
    text-decoration: none;
    padding: 1em 1em;
    font-size: 24px;
    color: #fff;
}

li:hover {
    color: orangered;
}

.skew-A {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 146, 106);
}

.skew-A::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: inherit;
    /* background: slategray; */
    transform-origin: top left;
    transform: skewY(10deg);
}


