*, 
*::before,
*::after {
    box-sizing: border-box;
} 

body {
    background-color: #6e6e6e;
    font-family: "Roboto Black";
}

main {
    display: flex;
    flex-direction: column;
    /* center content vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    /* font-size: 3rem; */
    font-size: 2.5rem;
}


.hide {
    /* display: none; */
    opacity: 0;
}

#active-key {
    /* margin-bottom: 9rem; */
    transition: opacity 1.5s ease;
}

.key-chords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* width: 80%; */

    /* animation: rollIn;
    animation-duration: 3s;
    animation-fill-mode: forwards; */
}

/* @keyframes rollIn {
    0%   {top: -50px}
    100% {top: 200px}
} */

.chords-in-key {
    /* min-width: 140px; */
    min-width: 7em;

    /* background-color: #b8b3b3; */
    border: 0.25em solid #000;
    border-radius: 15px;    
    margin: 0.5em 0.5em;
    padding: 0 1.5em;

    text-align: center;

    background-color: #68934f;
    /* border: 0.25em solid #fff; */
    color: rgb(226, 226, 226);
    /* border: 0.25em solid #5a7d46; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 10px;
}

#all-keys {
    /* width: 100%; */
    /* margin: auto 0; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -100px;
}

.musical-key {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

    transition: transform 1s;
}

.card {
    /* max-height: 200px; */
    /* min-width: 140px; */
    min-width: 7em;

    background-color: #b8b3b3;
    border: 0.25em solid #000;
    border-radius: 15px;    
    /* margin: auto; */
    margin: 0.5em 0.5em;
    padding: 0 1.5em;

    text-align: center;
}

.card:hover {
    background-color: #80b462;
    /* border: 0.25em solid #fff; */
    color: rgb(226, 226, 226);
    /* border: 0.25em solid #5a7d46; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 10px;
}

/* .sharp-flat > h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.5em;
} */

