*, 
*::before,
*::after {
    box-sizing: border-box;
} 

.wrapper {
    width: 100%;
    align-content: center;
}

.layout-container {
    margin: 0 auto;
    width: 80%;
}

.title, .card-content {
    border: 2px solid #6e6e6e;
    text-align: center;
}

.img-container {
}

.img-container > img {
    max-width: 350px;  /*  350px - 450px */
    border-radius: 3em;

    /* debating if I prefer the flat look vs shadows */
    /* box-shadow: 0.25em 0.25em 0.5em; */
}


.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: lightslategray;
    padding: 4.0em 0;
}

.item {
    margin: 20px 20px;
}

/* .card {

} */


.card-content {
    background-color: #6e6e6e;
    color: #fff;
    
    /* margin-top: 0.5em; */
    
    /* smaller container (?) */
    max-width: 70%;
    margin: 1.0em auto;
    /* content in "pill" format  */
    border-radius: 2.0em;

}