*, 
*::before,
*::after {
    box-sizing: border-box;
} 

.wrapper {
    width: 100%;
    align-content: center;
}

.layout-container {
    margin: 0 auto;
    width: 80%;
}

.title, .card-content {
    border: 2px solid #6e6e6e;
    text-align: center;
}


.img-container > img {
    max-width: 350px;  /*  350px - 450px */
    border-radius: 3em;
}


.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: lightslategray;
    padding-top: 3.0em;
}

.item {
    margin: 10px 10px;
}

/* .card {

} */


.card-content {
    background-color: #6e6e6e;
    color: #fff;
    /* text-align: center; */

    margin-top: 0.5em;
}