*, 
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2em;

    margin-bottom: 2em;
}

.text-content {
    text-align: center;
    font-size: 1.5em;
}

.input-group {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

label + input {
    margin-bottom: 1em;
}

.input-group input {
    font-size: 1.25rem;
    padding: 0.5em;

    border: none;
    border-radius: 0.25em;
    /* color: #fff; */
}

.input-group input:focus {
    box-shadow: 0 0 1px 0 rgba(82, 155, 214, 0.55);
    /* box-shadow: 0 0 1px 0 rgba(76, 46, 131, 0.55); */
}

.container {
    width: 80%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content {
    /* border: 2px solid rgb(120, 120, 120); */
    border-radius: 2em;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
    width: 40%;
    padding: 1em 3em;  

}

.login-container {
    background-color: rgba(82, 155, 214, 0.75);
    margin-right: 2em;
}


.register-container {
    background-color: rgba(249, 133, 90, 0.75);
}

button {
    padding: 1em;
    border: 2px solid #fff;
    border-radius: 1em;
    font-size: 1em;
    color: #fff;
    background-color: slategray;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0,5);
}
