body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: white; */
}

header {
    background-color: black;
    text-align: center;
}

.container {
    /* background-color: lightgray; */

    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero {
    background-color: #074f57;
    background-image: url("../sidebar/assets/img/code_bg.jpg");
    /* background-image: url("../sidebar/assets/img/code_bg_small.jpg"); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    color: white;
    height: 100vh;
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
}

.hero-content {
    padding-top: 200px;
}

/* 
.content {
    height: 50vh;
} */

.sidebar {
    background-color: lightslategray;
    position: absolute;
    top: 150px;
    left: 20px;
    /* height: 70vh; */
    /* we still want to keep this or the closing button will not be aligned top right of the container. */
    display: flex;
}

.sidebar a {
    text-decoration: none;
    color: whitesmoke;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    margin: 30px 30px;
}

/* .button-container {
    position: relative;
    top: 0;
    right: 0;
} */