* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: white; */
}

header {
    background-color: black;
    text-align: center;
}

hr {
    background-color:  #074f57;
    height: 2px;
    border: none;
}

.container {
    /* background-color: lightgray; */
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero {
    background-color: #074f57;
    background-image: url("../sidebar/assets/img/code_bg.jpg");
    /* background-image: url("../sidebar/assets/img/code_bg_small.jpg"); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    color: white;
    height: 100vh;
}

.hero-content {
    padding-top: 200px;
}

/* 
.content {
    height: 50vh;
} */

.navigation {
    /* background-color: lightslategray; */
    padding-top: 10px;

    position: fixed;
    top: 0;
    right: 20px;
    color: #fff;

    display: flex;
}

.open-slide {
    margin-left:15px;
}

.sidebar {
    background-color: lightslategray;

    position: fixed;
    top: 150px;
    /* starting position */
    left: -100%;

    /* we want this menu to be on top of the other content on the page */
    z-index: 1;
    transition: 1.0s;
    /* if we have enough content then we dont need a height */
    /* height: 70vh; */

    /* we still want to keep this or the closing button will not be aligned top right of the container. */
    display: flex;
}

.sidebar.active {
    /* position when "active" */
    left: 20px;
    transition: 0.5s;
}

.sidebar a {
    text-decoration: none;
    color: whitesmoke;
}

.sidebar a:hover {
    color: #074f57; 
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    margin: 30px 30px;
}

#close {
    margin: 5px 5px;
    padding: 5px 10px;
    color: #fff;
    background-color: #074f57;
}