body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: white; */
}

header {
    background-color: black;
    text-align: center;
}

.container {
    /* background-color: lightgray; */

    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero {
    background-color: #074f57;
    background-image: url("../sidebar/assets/img/code_bg.jpg");
    /* background-image: url("../sidebar/assets/img/code_bg_small.jpg"); */
    background-repeat: no-repeat;
    /* background-size: cover; */
    color: white;
    height: 100vh;
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
}

.hero-content {
    padding-top: 200px;
}

/* 
.content {
    height: 50vh;
} */

.navigation {
    background-color: lightslategray;
    /* height: 3rem; */
    padding-top: 10px;;
}

.open-slide {
    margin-left:15px;
}

.sidebar {
    background-color: lightslategray;

    width: 0;
    position: fixed;
    top: 150px;
    left: 20px;
    /* we want this menu to be on top of the other content on the page */
    z-index: 1;
    transition: 1.0s;
    /* height: 70vh; */
    /* we still want to keep this or the closing button will not be aligned top right of the container. */
    display: flex;
}

.link-container {
    display: block;
    transition: 0.75s;
}

.sidebar a {
    text-decoration: none;
    color: whitesmoke;

    /* display: block;
    transition: 0.75s; */
}

.sidebar a:hover {
    color: rgb(74, 144, 225); 
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    margin: 30px 30px;
}

/* .button-container {
    position: relative;
    top: 0;
    right: 0;
} */

.hide {
    display: none;
}