*, 
*::before,
*::after {
    box-sizing: border-box;
} 

:root {
    --bg-color: steelblue;
    --overlay-color: rgba(255, 174, 0, 0.55);
    --font-color: #fff;
    --blue-color: rgba(0, 166, 255, 0.55);
}

body {
    margin: 0;
    padding: 0;
    background: steelblue;
}

header {
    text-align: center;
    margin: 2em auto;
    color:#fff;
}

.grid-container {
    /* border: 1px solid red; */
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-auto-rows: 350px; */

    grid-gap: 1em;
    margin: 1em auto;
    
    width: 80%;
}

img {
    display: block;
    width: 100%;    
    /* height: auto; */

    /* max-height: 300px; */
}

.card {
    /* max-width: 300px;
    height: auto; */
    /* border: 1px solid black; */
    /* background: #fff; */
    /* background: #000; */


    position: relative;
    overflow: hidden;
}

.card:hover .card-content{
    /* Animation */
    /* transform: translateY(-150px); */
    transform: translateY(-12rem);
} 

.card:hover .overlay {
    /* Animation */
    /* transform: translateY(-150px); */
    transform: translateY(-100%);
    /* height: 100%; */
    opacity: 1;
}

.card-content {
    text-align: center;
    background: rgb(0, 166, 255, 0.55);
    /* color: rgb(227, 151, 74); */
    color: rgb(94, 162, 222);
    color: #fff;

    /* position: relative;
    margin-top: -1.5rem;  */
    transform: translateY(-4.45rem);
    margin-bottom: -5.5em;

    /* padding: 5px; */
    /* bottom: 0; */

    /* Animation */
    transition: transform 1s;
}

.card-content h2 {
    padding: 12px;
}

.image-container {
    /* width: 100%; */
    display: block;
    width: 100%;
}   

.overlay {
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* background-color: rgb(0, 166, 255, 0.55); */
    background-color: rgba(255, 174, 0, 0.55);
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 0;


    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}   

/* .card:nth-of-type(1) {
    grid-column: 1 / 3;
} */

.card-overlay {
    position: relative;
    z-index: 1;
}

.card-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 166, 255, 0.55);
    background-color: rgba(255, 174, 0, 0.55);
    /* z-index: -1; */

    transition: transform 0.5s;
    transform: scale(0);
    /* transform: scaleX(0); */
    transform-origin: bottom;
}

.card-overlay:hover::before {
    transform: scale(1);
    /* transform: scaleX(1); */
}