*, 
*::before,
*::after {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid red;
}



.card {
    
    border: 1px solid steelblue;
}

.card-content {

}

.image-container {
    width: 100%;
}   

