*, 
*::before,
*::after {
    box-sizing: border-box;
} 

body {
    margin: 0;
    padding: 0;
}



.grid-container {
    border: 1px solid red;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em auto;
    
    width: 80%;
    
}

img {
    width: 100%;
    height: auto;
}

.card {
    /* max-width: 300px;
    height: auto; */
    border: 1px solid steelblue;
}

.card-content {

}

.image-container {
    /* width: 100%; */
}   

